# CSCI 1360 - Assignment 1
## Question 1

- Total points 100
- For each part, write your solutions in the given space between the two Python comment lines: **Begin your solution** and **End your solution**.
- Do not change the code outside the two comments.

### Part A (Arithmetic Operations), 25 points

Write the following formulas as Python code in the given space below. You may depend on the given variable values and the shown output to test your solution. Thus, for the given example of *x*, *y*, *a* and *b*, then *z* should be 128.5 and *c* is 80.

$$ z = x^7 - \sqrt{y} + 3.5 $$

$$ c = a^4 - (b + 12)^2 $$

In [25]:
x = 2 
y = 9
a = 3
b = -13

# Begin your solution below this line

z = x ** 7 - y ** 0.5 + 3.5
c = a ** 4 - (b + 12) ** 2

# End your solution, do not change anything below this line

print(z)
print(c)

128.5
80

### Part B (String Manipulation), 25 points
For the given employee information below, use Python methods to fulfil the following requirements:
- Remove white spaces at the beginning and the end of the employee name and convert it to the upper case.
- For the salary, use casting methods to convert the value to integer.
- Print the information in the following format: **name EMPLOYEE_NAME, salary VALUE**
- *OPTIONAL BONUS (10 points)*: Apply your solution efficiently without declaring new variables.

In [26]:
name = '  '
name += 'John Smith'
for i in range(10):
    name += ' '
salary = 10 ** 4 * 9522875000 * 1.0e-9

# Begin your solution below this line

name = name.upper()
name = name.strip()
salary = int(salary)
salary = str(salary)

print('name ' + name + ', salary ' + salary)

# End your solution, do not change anything below this line

# Your code should print: name JOHN SMITH, salary 95228

name JOHN SMITH, salary 95228

### Part C (Lists, Tuples, Sets), 25 points

In a car dealer shop there is a long list of vehicles of different brands in their enventory. A group of 17 vehicles have been sold, that are, in sequence, the third car in the list until the 20<sup>th</sup>. The store manager still needs to know how many distinct car brands were in the sold vehicles but he is lazy to do the count.

- Use what you learned in Python to print the number that the manager wants using the list of vehicles given below.
- Print the brand name of the vehicle that resides exactly in the middle of the original list, knowing that the number of items in the list is an odd number. Hint: use the *len()* method to solve this dynamically.

In [2]:
cars = ['Honda','Dodge','Toyota','Mazda','Audi','Mitsubishi','Acura','Acura','Mazda','Jeep','Kia','Toyota','Kia','Mitsubishi','Audi','Kia','Toyota','Acura','Mitsubishi','Toyota','Tesla','Dodge','Honda','Audi','Tesla','Mitsubishi','Audi','Mazda','Mazda','Honda','Toyota','Toyota','Mazda','Kia','Tesla','Toyota','Mitsubishi','Kia','Tesla','Dodge','Tesla','Mazda','Jeep','Kia','Acura','Honda','Rivian','Toyota','Honda','Honda','Rivian','Rivian','Mazda','Rivian','Kia','Acura','Toyota','Acura','Kia','Toyota','Rivian','Mitsubishi','Toyota','Toyota','Tesla','Kia','Jeep','Mazda','Acura','Mazda','Mitsubishi','Honda','Dodge','Jeep','Audi','Acura','Honda','Kia','Tesla','Jeep','Toyota','Tesla','Mazda','Honda','Tesla','Audi','Tesla','Jeep','Acura','Mazda','Honda','Tesla','Jeep','Mitsubishi','Rivian','Honda','Mitsubishi','Toyota','Mitsubishi','Dodge','Dodge',]


# Begin your solution below this line
print('len', len(cars[2:19]))
cars_set = set(cars[2:19])
print(len(cars_set))
print(len(cars))
print(cars[int(len(cars)/2)])
print(cars[ len(cars) // 2 ])
# End your solution, do not change anything below this line

len 17
7
101
Rivian
Rivian

### Part D (Dictionary), 25 points

In Python, characters in a string can be accessed or sliced in the same way we access or slice a list.

In the below student ID, student name dictionary, replace each name with the first three characters of the name only using what you learned about list slicing. Then print the dictionary.

In [28]:
students_dict = {
    'st1048' : 'Bowen Higgins',
    'st1049' : 'Kylan Gentry',
    'st1053' : 'Franklin Sierra'
}

# Begin your solution below this line

students_dict['st1048'] = students_dict['st1048'][0:3]
students_dict['st1049'] = students_dict['st1049'][0:3]
students_dict['st1053'] = students_dict['st1053'][0:3]

print(students_dict)

# End your solution, do not change anything below this line

{'st1048': 'Bow', 'st1049': 'Kyl', 'st1053': 'Fra'}